h1, h2, h3 {
    color: #7d1745
}
strong {
    color: #e91e63;
}
button:hover {
  background-color: #e91e63 !important;
  color: #fff;
}
.card-number{
  color: #e91e63;
  font-size: 22px !important;
}
